# .gitignore file for picosdk-picovna-python-examples repository
# Untracked files/folders to ignore.

# python bytecode cache files
**/*.pyc

# Microsoft Windows platforms

**/*.dll

# pycharm files
.idea/

# SDK download warning file
.sdkwarning

# Folders
**/.vs
**/Release 
**/Debug
**/build